body 
    { 
    font: 14px/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 
    background: url(../images/micro_carbon.png) repeat; 
    color: #000000;     
    text-align:center; 
} 

header h1{
    text-align: center;
    color: white;
    font-size: 24px;
    padding-top: 20px;
}

#quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 2px solid;
    height: 40em;
    width: 75%;
    margin: 0 auto;
    background: white;
}

#start-btn {
    width: 200px;
    height: 75px;
}

#timer {
    border: black 2px solid;
    padding: 10px;
    margin-bottom: 30px;

}

.c-row div{
    display: inline-block;
    padding: 5px;
}

.c-row {
    height: 60px;
}

.q-row { 
    height: 20px;
}